<strong>Hello, {{ user }}</strong>
<p>Trouble signing in?</p>
<p>
  Resetting your password is easy.
  Just copy and paste this code:
  <div style="border-radius: 4px; marging: 5px 5px; width: 140px; height: 50; background: #1d5dba; padding: 3px;">
    <span style="color:whitesmoke; font-size:medium">{{code}}</span>
  </div>
  into the code box, then follow the instructions.
  We'll have you up and running in no time.
  Best wishes, Eleve team support@eleve.com
</p>
{{!-- <br>
<a href={"http://{{hostname}}:3333/reset/{{token}}"}>click here</a>
<br> --}}
<p>If you did not request this, please ignore this email</p>
