<div style="
width: 100%;
height: 80px;
background-color: #f9f9f9;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 20px;
displa: flex;

">
  <img
    src="https://ci5.googleusercontent.com/proxy/-giheA-3FT9-5qk9JETmIlNn4wtliPToOmhXk51tH8YI7Pn6Pn9KjnDW8fh0BlkI7HsIOmQ9BpBBUsKjxz8NFFRx9fsvNwAGgWMKiw=s0-d-e1-ft#https://www.oracleimg.com/us/assets/oracle-logo-email.jpg"
    alt="oracle" class="CToWUd">
  <div>
    <nav>SUBSCRIBE</nav>
    <nav>HELP</nav>
  </div>
</div>
Dear, <strong> {{ user }}</strong>
<b>
  <p>The password for your Oracle Account has been reset.</p>
</b>
<p>
  If you did not update your account, please tell us immediately.
</p>
<br>

<p>If you did not request this, please ignore this email</p>
